@import '/styles/variables.less';

.container {

  display: flex;
  flex-direction: column;

  .brand-content {
    padding: 0 48rpx;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;

    .userinfo-avatar {
      overflow: hidden;
      width: 104rpx;
      height: 104rpx;
      margin-right: 38rpx;
      border-radius: 50%;
    }

    .userinfo-account {
      display: flex;
      flex-direction: column;

      text {
        padding: 4rpx 0;
      }
    }
  }

  .t-cell-group {
    position: relative;
    bottom: 100rpx;
  }

  .logout-btn {
    margin: 10vh auto 0 auto;
  }
}